# Ignore build files
build/

# Ignore object files
*.o

# Ignore simulation files
simulation/
abc.history

# Ignore VSCode user settings and other files
.vscode/settings.json
.vscode/BROWSE.*
.vscode/ipch

# Ignore draw.io backup files
*.png.bkp
*.dtmp

# Temp test files
test_scratch_pad*.py

# Temp focusing image and production logs
production/focus_image.*
production/log.txt
production/frame-firmware-*.hex

# Python virtual env
.venv

# Claude
.claude
CLAUDE.md

# Specific files
flash_report.html